package main

// hardcode for now
var applicationID = ""
var applicationKey = ""
var bucketId = "" // "b2 list-buckets"
var nginxConfPath = "/etc/nginx/conf.d/b2.conf"
var apiUrl = "https://api000.backblazeb2.com"
